@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

.App {
  background-color: #10141E;
}
header {
  background-color: #161D2F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 16px;
}
header .avatar-image {
  width: 25px;
  height: 25px;
  border: solid 1px #fff;
  border-radius: 100%;
}
nav {
  display: flex;
  align-items: center;
}
nav svg:active {
  fill: #fff;
}
nav a:nth-child(2) {
  padding: 0 24px;
}
nav a:nth-child(3) {
  padding-right: 24px;
}
.active-link {
  fill: #fff;
}
.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  margin-top: 24px;
}
.searchbar-container svg {
  margin-right: 16px;
}
.searchbar-container input {
  width: 257px;
}
h1, h2, h3, h4, h5, p, a {
  font-family: 'Outfit', sans-serif;
  color: #fff;
}