@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

.App {
  background-color: #10141E;
}
header {
  background-color: #161D2F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 16px;
}
header .avatar-image {
  width: 25px;
  height: 25px;
  border: solid 1px #fff;
  border-radius: 100%;
}
nav {
  display: flex;
  align-items: center;
}
nav svg:active {
  fill: #fff;
}
nav a:nth-child(2) {
  padding: 0 24px;
}
nav a:nth-child(3) {
  padding-right: 24px;
}
.active-link {
  fill: #fff;
}
.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  margin-top: 24px;
}
.searchbar-container svg {
  margin-right: 16px;
}
.searchbar-container input {
  width: 257px;
  background: none;
  border: none;
  caret-color: #FC4747;
}
.searchbar-container input[type=text] {
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}
.searchbar-container input:focus {
  /* outline: none; */
  border-bottom: 1px solid #979797;
  border-radius: 0;
  padding: 5px 0px;
  background-color: transparent;
  /* border-radius: 10%; */
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}
.searchbar-container input::-webkit-input-placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5a698f;
}
.searchbar-container input::-moz-placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5a698f;
}
.searchbar-container input:-ms-input-placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5a698f;
}
.searchbar-container input::-ms-input-placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5a698f;
}
.searchbar-container input::placeholder {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5a698f;
}
h1, h2, h3, h4, h5, p, a {
  font-family: 'Outfit', sans-serif;
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 300px);
  gap: 15px;
}
.grid .movie {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}
.grid .movie .movie-details {
  display: flex;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}
.grid .movie .movie-details .seperator {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #979797;
  margin: 0 8px;
}
.grid .movie .bookmark-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}
.grid .movie img {
  -o-object-fit: cover;
     object-fit: cover;
}